<!--index.vtl-->

<script src="js/indexConsoleScript.js"></script>
  <link href="css/indexConsole.css" rel="stylesheet">

  <div class="terminal">
    <span class="dollar"></span> placeholder text
    <br/>
    <span class="dollar"></span> for days and days
    <br/>
    <span class="dollar"></span> and days and days and days and days
    <br/>
    <span class="dollar"></span> got a lot to put here
    <br/>
    <span class="dollar"></span> but it'll be pretty
  </div>


<!--index.vtl-->
