<h1>About Privathon</h1>

<p>Privathon is a week-long hackathon focused on making a social media site to fit the confines of the paranoid and the concerned.<br> We want to make a site where people can connect with their friends without worrying about their information being monetized, without their posts being sorted so that their friends are more likely to revisit their pages, without shady business executives deciding how features should work.</p>
<br>
<p>We need money and we need coders. <br>If you send us money, we'll have better food for the coders. It's a week, so pizza bills will undoubtedly rack up. <br>Actually, if you don't want to send us money, just send pizza instead.</p>
