<!--team.vtl-->
<link href="../css/simple-sidebar.css" rel="stylesheet">
<link href="../css/app.css" rel="stylesheet">

<h1>$member.getMemberName()</h1>
<ul>
  #foreach($skill in $member.getMemberSkills())
   <li>$skill</li>
  #end
</ul>
<!--team.vtl-->
