<!--newTeamForm.vtl-->
<link href="../css/simple-sidebar.css" rel="stylesheet">
<link href="../css/app.css" rel="stylesheet">

<h1>Add a Team</h1>

<p>Add a Team here:</p>

<form action="/teams" method="post">
  <div class="form-group">
  <label for="teamName">Team name</label>
  <input id="teamName" name="teamName" type="text">
</div>
  <button type="submit" class="btn btn-success">Add Team</button>
</form>
<!--newTeamForm.vtl-->
